<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href = "/css/main.css" type = "text/css" rel = "stylesheet"/>
    </head>
    <body>
        <h1>Singapore Football 2016</h1>
        <div class = "container">
            {{ content }}
        </div>
        <footer>
            <ul>
                <li><a href = "mailto:icedwater@gmail.com">Write me</a></li>
                <li><a href = "http://github.com/icedwater">See my GitHub</a></li>
                <li><a href = "http://twitter.com/icedwater">What I tweet</a></li>
                <li><a href = "http://icedwater.com">A blog</a></li>
            </ul>
        </footer>
    </body>
</html>
